In [1]:
import pandas as pd

In [4]:
pd.read_csv('mindmatv.csv').drop('Nome Completo', axis = 1)

,ID da resposta,Data de envio,Última página,Idioma inicial,Semente,Data de início,Data da última ação,Idade,Sexo,Ano,...,Tempo da pergunta: G02Q20,Tempo da pergunta: G02Q21,Tempo do grupo: 3,Tempo da pergunta: G03Q22,Tempo da pergunta: G03Q23,Tempo da pergunta: G03Q24,Tempo do grupo: 4,Tempo da pergunta: G04Q25,Tempo do grupo: 5,Tempo da pergunta: G05Q26
0,4,2022-05-20 21:49:07,8.0,pt-BR,356754874,2022-05-20 21:47:51,2022-05-20 21:49:07,27,Masculino,3º Ano Ensino Médio,...,NaN,NaN,3.88,NaN,NaN,NaN,4.12,NaN,3.00,NaN
1,5,NaN,0.0,pt-BR,116030583,2022-05-21 10:53:40,2022-05-21 10:53:57,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6,NaN,NaN,pt-BR,1677670628,2022-05-23 17:54:42,2022-05-23 17:54:42,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7,2022-05-25 11:27:55,8.0,pt-BR,1346367406,2022-05-25 11:27:02,2022-05-25 11:27:55,27,Feminino,3º Ano Ensino Médio,...,NaN,NaN,4.29,NaN,NaN,NaN,3.14,NaN,3.01,NaN
4,8,NaN,2.0,pt-BR,593666656,2022-05-25 12:00:06,2022-05-25 12:00:37,te,Feminino,1º Ano Ensino Médio,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,114,2022-05-26 19:28:39,8.0,pt-BR,1949539721,2022-05-26 19:16:48,2022-05-26 19:28:39,11,Feminino,6° Ano Fundamental,...,NaN,NaN,59.91,NaN,NaN,NaN,49.22,NaN,21.86,NaN
111,115,2022-05-26 19:28:36,8.0,pt-BR,358895626,2022-05-26 19:16:50,2022-05-26 19:28:36,11 anos,Feminino,6° Ano Fundamental,...,NaN,NaN,53.07,NaN,NaN,NaN,58.73,NaN,15.55,NaN
112,116,2022-05-26 19:23:16,8.0,pt-BR,2008084605,2022-05-26 19:16:53,2022-05-26 19:23:16,11,Masculino,6° Ano Fundamental,...,NaN,NaN,15.25,NaN,NaN,NaN,12.69,NaN,53.31,NaN
113,117,2022-05-26 19:24:27,8.0,pt-BR,1104112519,2022-05-26 19:16:54,2022-05-26 19:24:27,11,Masculino,6° Ano Fundamental,...,NaN,NaN,27.74,NaN,NaN,NaN,51.69,NaN,86.71,NaN
114,118,2022-05-26 19:22:48,8.0,pt-BR,1551606257,2022-05-26 19:16:56,2022-05-26 19:22:48,29/09/2010,Masculino,6° Ano Fundamental,...,NaN,NaN,25.47,NaN,NaN,NaN,5.79,NaN,5.66,NaN

In [24]:
pd.read_csv('../datasets/df_perfilv.csv').drop(['Unnamed: 0', 'nome'], axis = 1).head(5)

,idade,sfem,smasc,sna,ano,irmaos,numirmaos,lelivros,lehqs,ouvemusicas,vefilmeserie,lerouverfilmeserie,materia,redesocial,horascel,videoyt,jogos,tipo
0,15,1,0,0,1m,1,1,1,0,1,1,Ler,História,TikTok,Três a quatro horas,Podcasts,Celular,v
1,15,0,1,0,1m,1,1,0,0,1,1,Ver séries/filmes,Matemática,TikTok,Cinco horas ou mais,React,Videogame,v
2,15,1,0,0,1m,1,4 ou mais,1,0,1,1,Ler,História,TikTok,Três a quatro horas,React,Não jogo,v
3,15,0,1,0,1m,1,4 ou mais,1,1,1,1,Ler,Outra,Outra,Três a quatro horas,Gameplay,PC,v
4,15,0,1,0,1m,1,1,0,0,1,1,Ver séries/filmes,Química,Twitter,Uma a duas horas,Gameplay,PC,v

In [25]:
pd.read_csv('../datasets/df_perguntasv.csv').drop(['Unnamed: 0', 'pont.1'], axis = 1).head(5)

   1.a  1.b  1.c  2.a  2.b  2.c  3.a  3.b  3.c  4  5  pont
0    3    2    1    1    1    2    1    3    2  a  a     9
1    3    2    1    1    1    2    1    3    2  a  a     9
2    3    2    1    3    2    2    1    3    2  b  a     8
3    3    2    1    2    3    1    3    2    1  b  b     4
4    3    2    1    2    3    1    3    2    1  b  a     5

In [26]:
pd.read_csv('../datasets/df_temposv.csv').drop('Unnamed: 0', axis = 1).head(5)

        1       2       3       4      5   tmedio
0   57.25   40.19  232.63   12.35  16.17   71.718
1   98.60  181.82   26.39   26.86  51.70   77.074
2  124.65  217.88  188.12   40.08  33.51  120.848
3  125.72  142.05   26.45  163.99  43.82  100.406
4  126.19    9.34   53.62   98.62  55.61   68.676